{% set navLinks = [
    {
        'text': 'People',
        'route': 'person.index'
    },
    {
        'text': 'Teams',
        'route': 'team.index'
    },
    {
        'text': 'Sports',
        'route': 'sport.index'
    }
] %}

<nav class="nav">
    <div class="nav__inner">
        <div class="nav__nav-links">
            {% for link in navLinks %}
            <a href="{{ path(link.route) }}">
                {{ link.text }}
            </a>
            {% endfor %}
        </div>
        <div class="nav__account-buttons">
            {% if app.user %}
                <span class="nav__user-button">
                    {{ app.user.email }}
                </span>
                <a href="{{ path('app_logout') }}">Log Out</a>
            {% else %}
                <a href="{{ path('app_login') }}">Log In</a>
                <a href="{{ path('app_register') }}">Register</a>
            {% endif %}
            </span>
        </div>
    </div>
</nav>
